<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <header>
    <%- include('../layout/header')%> 
   </header>
  <main>
    <h2>More Details</h2>
    <p id="name"> <%= name %> </p>
    <canvas id="detailChart"></canvas>
    <form action="">
      <% chart.forEach((entry,idx) => { %>
      <input id='<%= idx %>' type="hidden" value="<%= entry %>">
      <% }) %>
    </form>
    <div class="details">
      <% details.forEach(coin => { %>
      <img src="<%= coin.icon %>" alt="">
      <p> <%= coin.disc %></p>
      <a href="<%= coin.website %>"> Coin Website</a>
      <a href="<%= coin.reddit %>"> Coin Reddit</a>
      <% }) %>
    </div>

    <% news.forEach( article => { %>
      <div>
        <h3> <%= article.headline %></h3>
        <a href="<%= article.url %>">Click here</a>
      </div>
   <% }) %>
  </main>

  <footer></footer>
  <%- include('../layout/publicScript') %>
  <%- include('../layout/footer') %>
</body>

</html>