<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <main>
    <header>
      <h1>More Details</h1>
      <%- include('../layout/header')%>
    </header>
    <p id="name"> <%= name %> </p>
    <canvas id="detailChart"></canvas>
    <form action="">
      <% chart.forEach((entry,idx) => { %>
         <% console.log(entry) %>
      <input id='<%= idx %>' type="hidden" value="<%= entry %>">
      <% }) %>
    </form>
    <div class="details">
      <% details.forEach(coin => { %>
        <% console.log(coin) %>
      <img src="<%= coin.icon %>" alt="">
      <p id='disc'> <%= coin.disc %></p>
      <br>
      <div id="links">
      <a href="<%= coin.website %>"> Coin Website</a>
      <br>
      <a href="<%= coin.reddit %>"> Coin Reddit</a>
      </div>
      <form class="save_form" action="/watchList" method="POST">
        <input type="hidden" name="name" value="<%= coin.name %>">
        <input type="hidden" name="symbol" value="<%= coin.symbol %>">
        <button class="save_button" type="submit">Add to watchlist</button>
      </form>
      <% }) %>
    </div>

    <% news.forEach( article => { %>
    <div class='article'>
      <h3> <%= article.headline %></h3>
      <a href="<%= article.url %>">Click here</a>
    </div>
    <% }) %>
  </main>
  
  <footer><%- include('../layout/footer') %></footer>
  <%- include('../layout/publicScript') %>
</body>

</html>