<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <main>
    <h2>More Details</h2>
    <p id="name"> <%= name %> </p>
    <canvas id="detailChart"></canvas>
    <form action="">
      <% chart.forEach((entry,idx) => { %>
      <input id='<%= idx %>' type="hidden" value="<%= entry %>">
      <% }) %>
    </form>
  </main>

  <footer></footer>
  <%- include('../layout/publicScript') %>
</body>

</html>