<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <main>
    <header>
      <h1>Error Page</h1>
      <%- include('../layout/header')%>
    </header>
    <p id="error_page">
      We're sorry there was no details to show for this coin: <%= name %>
    </p>
    <footer><%- include('../layout/footer') %></footer>
  </main>


  <%- include('../layout/publicScript') %>
</body>

</html>