<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <main>
    <header>
      <h1>CRYPTO-CONNECT!</h1>
      <%- include('../layout/header')%>
    </header>
    <%- include ('../searches/form') %>
    <h2 id="popular">Popular Crypto Currencies </h2>
    <div class="home_graphs">
      <canvas id='cryptoOne'></canvas>
    </div>
    <div class="home_graphs">
      <canvas class="home_graphs" id='cryptoTwo'></canvas>
    </div>
    <div class="home_graphs">
      <canvas class="home_graphs" id='cryptoThree'></canvas>
    </div>
    <form action="">
      <% chartdata.forEach( (dataSet,ind) => { %>
      <% dataSet.forEach((entry,idx) => { %>
      <input id='<%= ind %><%= idx %>' type="hidden" value="<%= entry %>">
      <% }) %>
      <% }) %>

    </form>
    <h2 id="news">Crypto Currency News</h2>
    <% newsData.forEach( article => { %>
    <div class="article">
      <h3> <%= article.headline %></h3>
      <a href="<%= article.url %>">Click here</a>
    </div>
    <% }) %>
    <footer><%- include('../layout/footer') %></footer>
  </main>

  <%- include('../layout/publicScript') %>
</body>

</html>