<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
</head>

<body>
    <header>
    </header>
    <main>
      <h2>test</h2>
    <%- include ('../searches/form') %>
    <canvas id='cryptoOne'></canvas>
    <canvas id='cryptoTwo'></canvas>
    <canvas id='cryptoThree'></canvas>
    <form action="">
      <% chart.forEach( (dataSet,ind) => { %>
        <% dataSet.forEach((entry,idx) => { %>
        <input id='<%= ind %><%= idx %>' type="hidden" value="<%= entry %>">
        <% }) %>
       <% }) %>
    
    </form>
    </main>
    <footer></footer>
    <%- include('../layout/publicScript') %>
</body>

</html>