<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
</head>

<body>
  
  <main>
    <header>
      <h2>CRYPTO-CONNECT!</h2>
     <%- include('../layout/header')%> 
    </header>

    <main>
      

    <%- include ('../searches/form') %>
    <canvas id='cryptoOne'></canvas>
    <canvas id='cryptoTwo'></canvas>
    <canvas id='cryptoThree'></canvas>
    <form action="">
      <% chartdata.forEach( (dataSet,ind) => { %>
        <% dataSet.forEach((entry,idx) => { %>
        <input id='<%= ind %><%= idx %>' type="hidden" value="<%= entry %>">
        <% }) %>
       <% }) %>
    
    </form>
    <h2>Crypto Currency News</h2>
    <% newsData.forEach( article => { %>
      <div>
        <h3> <%= article.headline %></h3>
        <a href="<%= article.url %>">Click here</a>
      </div>
   <% }) %>
    </main>
    <footer></footer>
    <%- include('../layout/publicScript') %>
    <%- include('../layout/footer') %>
</body>

</html>