<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
</head>

<body>
    <header>
    </header>
    <main>
      <h2>test</h2>
    <%- include ('../searches/form') %>
    <canvas id='cryptoOne'></canvas>
    <form action="">
      <% chart.forEach( (entry,idx) => { %>
        <% console.log(entry) %>
        <input id='<%= idx %>' type="hidden" value="<%= entry %>">
       <% }) %>
    
    </form>
    </main>
    <footer></footer>
    <%- include('../layout/publicScript') %>
</body>

</html>