<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
</head>

<body>
  <header>
    <%- include('../layout/header')%> 
   </header>
  <h2>Showing the results</h2>
  <% results.forEach(coin => { %>
    <div class="shown_result">
      <h3> Coin Name: <%= coin.name %> </h3>
      <p> Coin Symbol: <%= coin.symbol %> </p>
      <p> Coin Price: <%= coin.price %> </p>
      <form class="view_details" action="/viewDetails/<%= coin.symbol %>" method="POST">
        <input type="hidden" name="name" value="<%= coin.name %>">
        <input type="hidden" name="symbol" value="<%= coin.symbol %>">
        <button class="save_button" type="submit">View Details</button>
      </form>
      <form class="save_form" action="/watchList" method="POST">
        <input type="hidden" name="name" value="<%= coin.name %>">
        <input type="hidden" name="symbol" value="<%= coin.symbol %>">
        <button class="save_button" type="submit">Add to watchlist</button>
      </form>
    </div>
  <% }) %>
  <footer></footer>
    <%- include('../layout/publicScript') %>
    <%- include('../layout/footer') %>
</body>
</html>