<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <main>
    <h2>Watchlist</h2>
    <% results.forEach(coin => { %>
    <div class="shown_result">
      <h3> Coin Name: <%= coin.name %> </h3>
      <p> Coin Symbol: <%= coin.symbol %> </p>
      <form class="view_details" action="/viewDetails/<%= coin.symbol %>" method="POST">
        <input type="hidden" name="name" value="<%= coin.name %>">
        <button class="save_button" type="submit">View Details</button>
      </form>
      <form class="delete_form" action="/delete/<%= coin.symbol %> ?_method=DELETE" method="POST">
        <input type="hidden" name="symbol" value="<%= coin.symbol %>">
        <button class="delete_button" type="submit">Remove from watchlist</button>
      </form>
    </div>
    <% }) %>
  </main>

  <footer></footer>
  <%- include('../layout/publicScript') %>
  <%- include('../layout/footer') %>
</body>

</html>