<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <main>
    <header>
      <h1>Watchlist</h1>
      <%- include('../layout/header')%>
    </header>
    <% results.forEach(coin => { %>
      <% console.log(coin) %>
    <div class="shown_result">
      <h3> Coin Name: <%= coin.title %> </h3>
      <p> Coin Symbol: <%= coin.symbol %> </p>
      <form class="view_details" action="/viewDetails/<%= coin.symbol %>" method="POST">
        <input type="hidden" name="name" value="<%= coin.title %>">
        <input type="hidden" name="symbol"
        value="<%= coin.symbol %>">
        <button class="save_button" type="submit">View Details</button>
      </form>
      <form class="delete_form" action="/delete/<%= coin.symbol %> ?_method=DELETE" method="POST">
        <input type="hidden" name="symbol" value="<%= coin.symbol %>">
        <button class="save_button" type="submit">Remove from watchlist</button>
      </form>
    </div>
    <% }) %>
  </main>
  
  <footer><%- include('../layout/footer') %></footer>
  <%- include('../layout/publicScript') %>
</body>

</html>